.app-account {
  min-width: 100vh;
  min-height:100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f6fb url("./imgs/bg.jpg") center no-repeat;
  background-size: cover;
  color: #333333;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .login-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(192, 206, 221, 0.2);

    .logo, .btn-group {
      padding: 0 10px;
      height: 60px;

      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }

    .logo {
      float: left;
      width: 265px;

      img {
        vertical-align: middle;
      }
    }

    .btn-group {
      float: right;

      & > * {
        vertical-align: middle;
        height: 35px;
        cursor: pointer;
      }

      .plain-btn {
        padding: 0 15px;
        background: transparent;
        border: none;
      }

      .home-btn {
        display: inline-block;
        margin-left: 15px;
        padding: 0 20px;
        line-height: 35px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        background: transparent;
        color: #333333;
      }
    }
  }

  .main {
    padding-top: 26vh;
    min-height: 100vh;

    .wrapper {
      margin: 0 auto;
      padding: 48px 60px;
      width: 430px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 0 0 18px rgba(187, 193, 205, 0.5);
    }

    h2 {
      text-align: center;
      letter-spacing: 5px;
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: normal;
      color: #111111;
    }

    section {
      position: relative;
      min-height: 60px;
      font-size: 16px;

      input {
        height: 44px;

        &.error {
          border-color: #ff5555;
        }
      }

      &.action {
        min-height: 0;

        button {
          display: block;
          width: 100%;
          height: 44px;
          font-size: 16px;
          letter-spacing: 2px;
          background: linear-gradient(90deg, #4552ff 0%, #0c95ff 100%);
          box-shadow: 0 3px 20px rgba(0, 80, 255, 0.3);
          transition: 0.3s;

          &, &:active, &:hover, &:focus, &:visited {
            border-radius: 3px;
            border: none;
          }

          &:active, &:hover, &:focus, &:visited {
            background-image: linear-gradient(90deg, #4552ff 0%, #0c95ff 100%);
            box-shadow: 0 3px 3px rgba(0, 80, 255, 0.3);
          }
        }
      }
    }
  }
}
.users {
  .wrapper{
    margin: 0 auto;
    padding: 48px 60px;
    width: 430px;
    border-radius: 5px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 18px rgba(187, 193, 205, 0.5);
    box-shadow: 0 0 18px rgba(187, 193, 205, 0.5);
    h2 {
      text-align: center;
      letter-spacing: 5px;
      margin-bottom: 25px;
      margin-top: 0;
      font-size: 30px;
      font-weight: normal;
      color: #111111;
    }
    section {
      position: relative;
      min-height: 60px;
      font-size: 16px;
      input {
        height: 44px;
      }
    }
    section.code button{
      height:44px;
    }
    section.act button {
      display: block;
      width: 100%;
      height: 44px;
      font-size: 16px;
      letter-spacing: 2px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-bottom: 16px;
    }
    section.action button {
      background: -webkit-gradient(linear, left top, right top, from(#4552ff), to(#0c95ff));
      background: linear-gradient(90deg, #4552ff 0%, #0c95ff 100%);
      -webkit-box-shadow: 0 3px 20px rgba(0, 80, 255, 0.3);
      box-shadow: 0 3px 20px rgba(0, 80, 255, 0.3);

    }
    section.isactivation {
      padding: 40px 0;
      text-align: center;
      .success {
        font-size:120%;
        color: #67c23a;
        i {
          margin-right:10px;
        }
      }
    }
    .footertext {
      padding-top: 20px;
      text-align: center;
      font-size: 14px;
    }
  }
  .phone {
    .hint {
      padding-left: 23px;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      background: url("./imgs/icon-warning.png") left no-repeat;
      color: #ff5555;

      a {
        color: #0066f6;
      }
    }
  }

  .forget-password {
    overflow: hidden;
    min-height: 40px !important;
    a.activation {
      float: left;
    }
    a.resetpass {
      float: right;
    }
  }
}
